[OSEv3:children]
masters
nodes
nfs
etcd
lb
local

[OSEv3:vars]
ansible_ssh_user=openshift
ansible_become=true
openshift_use_dnsmasq=false
openshift_master_cluster_method=native
openshift_master_cluster_hostname=ocp.example.local
openshift_master_cluster_public_hostname=ocp.example.com
openshift_master_default_subdomain=apps.ocp.example.com
deployment_type=openshift-enterprise
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/users.htpasswd'}]
openshift_hosted_registry_storage_kind=nfs
openshift_hosted_registry_storage_volume_size=300Gi
local_dns=172.30.4.12
external_interface=eno1
external_vlan=546
external_gateway=10.240.36.1
internal_interface=bond0
openshift_master_cluster_ip=172.30.4.132
openshift_master_cluster_public_ip=10.240.37.132
openshift_master_portal_net=10.0.0.0/16
openshift_release=v3.5
rhel_subscription_user=RED_HAT_PORTAL_LOGIN
rhel_subscription_pass=RED_HAT_PORTAL_PASSWORD

[local]
127.0.0.1

[masters]
master1.ocp.example.local containerized=True openshift_ip=172.30.4.9 openshift_hostname=master1.ocp.example.local
master2.ocp.example.local containerized=True openshift_ip=172.30.4.10 openshift_hostname=master2.ocp.example.local
master3.ocp.example.local containerized=True openshift_ip=172.30.4.11 openshift_hostname=master3.ocp.example.local

[nodes]
master1.ocp.example.local containerized=True openshift_schedulable=False openshift_ip=172.30.4.9 openshift_hostname=master1.ocp.example.local
master2.ocp.example.local containerized=True openshift_schedulable=False openshift_ip=172.30.4.10 openshift_hostname=master2.ocp.example.local
master3.ocp.example.local containerized=True openshift_schedulable=False openshift_ip=172.30.4.11 openshift_hostname=master3.ocp.example.local

infra1.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.7 openshift_hostname=infra1.ocp.example.local openshift_node_labels="{'region': 'infra'}"
infra2.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.8 openshift_hostname=infra2.ocp.example.local openshift_node_labels="{'region': 'infra'}"

app1.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.1 openshift_hostname=app1.ocp.example.local
app2.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.2 openshift_hostname=app2.ocp.example.local
app3.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.3 openshift_hostname=app3.ocp.example.local
app4.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.4 openshift_hostname=app4.ocp.example.local
app5.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.5 openshift_hostname=app5.ocp.example.local
app6.ocp.example.local containerized=True openshift_schedulable=True openshift_ip=172.30.4.6 openshift_hostname=app6.ocp.example.local

[nfs]
nfs1.ocp.example.local openshift_hostname=nfs1.ocp.example.local openshift_ip=172.30.4.7
nfs2.ocp.example.local openshift_hostname=nfs2.ocp.example.local openshift_ip=172.30.4.8

[etcd]
etcd1.ocp.example.local containerized=True openshift_ip=172.30.4.9 openshift_hostname=etcd1.ocp.example.local
etcd2.ocp.example.local containerized=True openshift_ip=172.30.4.10 openshift_hostname=etcd2.ocp.example.local
etcd3.ocp.example.local containerized=True openshift_ip=172.30.4.11 openshift_hostname=etcd3.ocp.example.local

[lb]
lb1.ocp.example.local openshift_hostname=lb1.ocp.example.local openshift_ip=172.30.4.7
lb2.ocp.example.local openshift_hostname=lb2.ocp.example.local openshift_ip=172.30.4.8

[switches]
gswitch3 username=admin password=SWITCH_ADMIN_PASSWORD
gswitch4 username=admin password=SWITCH_ADMIN_PASSWORD
