interface Ethernet1/1
   description Server 1
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet1/2
   description Server 2
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet1/3
   description Server 3
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet1/4
   description Server 4
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet2/1
   description Server 5
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet2/2
   description Server 6
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet2/3
   description Server 7
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet2/4
   description Server 8
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet3/1
   description Server 9
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet3/2
   description Server 10
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet3/3
   description Server 11
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet3/4
   description Server 12
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet4/1
   description Server 13
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet4/2
   description Server 14
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
interface Ethernet4/3
   description Server 15
   speed forced 25gfull
   switchport trunk native vlan {{ internal_vlan }}
   switchport trunk allowed vlan {{ external_vlan }},{{ internal_vlan }}
   switchport mode trunk
   spanning-tree portfast
!
